$color_black: rgba(0, 0, 0, 1);
$color_black_05: rgba(0, 0, 0, .5);
$color_white: rgba(255, 255, 255, 1);
$color_transparent: rgba(0, 0, 0, 0);
$color_firm_dark: rgba(54, 54, 54, 1);
$color_firm_red: rgba(255, 3, 16, 1);
$color_firm_orange: rgba(242, 101, 34, 1);
$color_firm_grey: rgba(235, 235, 235, 1);
$color_firm_grey_2: rgba(225, 225, 225, 1);