.ico-cart {
  background: $color_transparent url("/images_service/market.png") center center no-repeat scroll;
}

.ico-kievstar {
  background: $color_transparent url("/images_service/kievstar.png") center center no-repeat scroll;
}

.ico-phone {
  background: $color_transparent url("/images_service/phone.png") center center no-repeat scroll;
}

.ico-time {
  background: $color_transparent url("/images_service/clock.png") center center no-repeat scroll;
}

.ico-marker {
  background: $color_transparent url("/images_service/marker.png") center center no-repeat scroll;
}

.ico-search {
  background: $color_transparent url("/images_service/search.png") center center no-repeat scroll;
}